<!-- Formulário de atualização de livro -->
<form action="/livroUpdate" method="post" class="mb-4">
  <input type="hidden" name="id_livro" value="{{livro.id_livro}}">
  <div class="form-group">
    <label for="titulo">Título:</label>
    <input type="text" class="form-control" name="titulo" id="titulo" value="{{livro.titulo}}" required>
  </div>
  <div class="form-group">
    <label for="ano">Ano:</label>
    <input type="number" class="form-control" name="ano" id="ano" value="{{livro.ano}}" required>
  </div>
  <div class="form-group">
    <label for="id_autores">Autores:</label>
    <select class="form-control" name="id_autores" id="id_autores" multiple required>
    {{#each autores}}
      <option value="{{id_autor}}"
        {{#if (isSelected id_autor ../livro.Autores)}}selected{{/if}}>
        {{nome}}
      </option>
    {{/each}}
    </select>
</div>
  <div class="form-group">
    <label for="id_categoria">Categoria:</label>
    <select class="form-control" name="id_categoria" id="id_categoria" required>
      {{#each categorias}}
        <option value="{{id_categoria}}" {{#ifCond id_categoria ../livro.id_categoria}}selected{{/ifCond}}>{{nome}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group d-flex justify-content-between">
    <button type="submit" class="btn btn-success">Editar</button>
    <a href="/livroList" class="btn btn-secondary">Voltar</a>
  </div>
</form>