<!-- Lista de livros -->
<h1 class="mb-4">Lista de Livros</h1>
<a href="/home" class="btn btn-secondary mb-3">Voltar</a>
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Título</th>
      <th>Ano</th>
      <th>Gênero</th>
      <th>Tipo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each livros}}
      <tr>
        <td>{{toUpperCase titulo}}</td>
        <td>{{ano}}</td>
        <td>{{Categoria.nome}}</td>
        <td>{{Categoria.tipo}}</td>
        <td>
          <a href="/livroUpdate/{{id_livro}}" class="btn btn-sm btn-primary">Editar</a>
          <a href="/livroDelete/{{id_livro}}" class="btn btn-sm btn-danger ml-2">Deletar</a>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <pre>{{json this}}</pre>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>