  {{#if error}}
  <div style="color: red;">{{error}}</div>
  {{/if}}
<table border="1">
  <tr>
    <td>Nome</td>
    <td>Tipo</td>
    <td>Editar</td>
    <td>Deletar</td>
  </tr>
  {{#each categorias}}
  <tr>
    <td>{{nome}}</td>
    <td>{{tipo}}</td>
    <td><a href="/categoriaUpdate/{{id_categoria}}">Editar</a></td>
    <td><a href="/categoriaDelete/{{id_categoria}}">Deletar</a></td>
  </tr>
  {{/each}}
</table>
<button type="button" onclick="window.location.href='/home'">Voltar</button>