<div class="container mt-4">
  <h2 class="mb-4">Gerenciamento de Empréstimos</h2>
  <p>Lista de todos os empréstimos registrados no sistema.</p>

  {{#if sucesso}}
    <div class="alert alert-success">{{sucesso}}</div>
  {{/if}}

  {{#if emprestimos.length}}
    <table class="table table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Livro</th>
          <th>Usuário</th>  
          <th>Data do Empréstimo</th>
          <th>Devolução Prevista</th>
          <th>Status / Ações</th>
        </tr>
      </thead>
      <tbody>
        {{#each emprestimos}}
          <tr>
            <td>{{Livro.titulo}}</td>
            <td>{{usuario.nome}} {{usuario.sobrenome}} ({{usuario.login}})</td> 
            <td>{{formatarData data_emprestimo}}</td>
            <td>{{formatarData data_devolucao_prevista}}</td>
            <td>
              {{#if (and (eq status 'PENDENTE') ( any (eq ../usuario.tipo 'ADMIN')(eq ../usuario.tipo 'BIBLIOTECARIO') ) )}}
                <span class="badge bg-warning text-dark">Pendente</span>
                <form action="/devolucao" method="POST" style="display:inline-block; margin-left: 10px;">
                  <input type="hidden" name="id_emprestimo" value="{{id_emprestimo}}">
                  <button type="submit" class="btn btn-sm btn-success">Registrar Devolução</button>
                </form>
              {{else if (eq status 'DEVOLVIDO')}}
                  <span class="badge bg-info">Devolvido em {{formatarData data_devolucao_efetiva}}</span>
              {{else if (eq status 'ATRASADO')}}
                  <span class="badge bg-danger">Atrasado</span>
              {{/if}}

                {{#if (eq ../usuario.tipo 'ADMIN')}}
                   <form action="/emprestimo/delete" method="POST" style="display:inline-block; margin-left: 10px;" onsubmit="return confirm('ATENÇÃO: Isso vai apagar o registro deste empréstimo permanentemente. Tem certeza?');">
                     <input type="hidden" name="id_emprestimo" value="{{id_emprestimo}}">
                     <button type="submit" class="btn btn-sm btn-outline-danger">Excluir Registro</button>
                   </form>
                {{/if}}
             </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <div class="alert alert-secondary">Nenhum empréstimo registrado no sistema.</div>
    {{/if}}

  <a href="/home" class="btn btn-secondary mt-3">Voltar</a>
</div>