<style>
.btn-link {
  display: inline-block;
  background: #2a4d69;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s, transform 0.1s;
  }
  .btn-link:hover {
  background: #4176a2;
  transform: translateY(-2px) scale(1.04);
  }
  .button{
    display: flex;
    gap: 10px;
    text-align: center;
    margin-top: 20px;
  }

</style>
<table border ="1px">
    <tr>
        <th colspan="3"> Login </th>
        <th> Senha </th>
        <th> Tipo </th>
    </tr>   
    {{#each usuarios }}
    <tr>    
        <td colspan="3">{{ login }} </td >
        <td>{{ senha }} </td>
        <td>{{ tipo }} </td>
        <td><a href="/usuarioUpdate/{{id}}">Editar</a></td>
        <td><a href="/usuarioDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>
<div class="button">
    <button type="button" class="btn-link" onclick="window.location.href='/home'">Voltar</button>
</div>
