<table border ="1px">
    <tr>
        <th colspan="3"> Login </th>
        <th> Senha </th>
        <th> Tipo </th>
    </tr>   
    {{#each usuarios }}
    <tr>    
        <td colspan="3">{{ login }} </td >
        <td>{{ senha }} </td>
        <td>{{ tipo }} </td>
        <td><a href="/usuarioUpdate/{{id}}">Editar</a></td>
        <td><a href="/usuarioDelete/{{id}}">Deletar</a></td>
    </tr>
    {{/each}}
</table>
<button type="button" onclick="window.location.href='/home'">Voltar</button>